<div class="card">
    <a [routerLink]="'/news/' + item.id">
        <img [src]="item.urlToImage" [alt]="item.title">
    </a>
    <p class="line-clamp-3">{{ item.content }} </p>
    <span class="date">
        <!-- <fa-icon [icon]="['fas', 'twitter']"></fa-icon> -->
        <i-bs class="text-[#13BEFF]" name="calendar4" width="18" height="20">
        </i-bs>
        <span>{{item.publishedDate | date }} </span>
    </span>
    <div class="footer">
        <span class="cat">{{ categories | parseCategory : +item.categoryID}} </span>

        <div class="actions">
            @if (isFav) {
            <button (click)="setFav(false)">
                <i-bs name="star-fill" width="18" height="20">
                </i-bs>
            </button>
            }
            @else {
            <button (click)="setFav(true)">
                <i-bs name="star" width="18" height="20">
                </i-bs>
            </button>
            }
            <button class="social" (click)="toggleSocial()">
                <i-bs name="share-fill" width="18" height="20">
                </i-bs>
            </button>

        </div>


    </div>

    <ul [class.active]="isSocial">
        <li class="bg-[#1877f2] text-white rounded-s-sm">
            <a href="#" target="_blank">
                <i-bs name="facebook" width="12" height="12"></i-bs>
            </a>
        </li>
        <li class="bg-[#1da1f2] text-white">
            <a href="#" target="_blank">
                <i-bs name="twitter" width="12" height="12"></i-bs>
            </a>
        </li>
        <li class="bg-[#dd4b39] text-white rounded-e-sm">
            <a href="#" target="_blank">
                <i-bs name="envelope" width="12" height="12"></i-bs>
            </a>
        </li>
    </ul>
</div>