<div class="banner-item">
    <div class="container">
        <span class="category" [style.color]="'#' + item?.colorCode">{{
            item?.category
            }}</span>
        <h1>{{ item?.title }}</h1>
        <p>{{ item?.brief }}</p>

        <div class="banner-btns">
            <a href="#" target="_blank"> Find out more</a>
            <a href="#" target="_blank"><img src="../../../../assets/images/Play Demo.png" />
                <span>Play Demo</span></a>
        </div>

        <img [src]="item?.imgUrl" [alt]="item?.title" loading="lazy" class="banner-img" />
          
    </div>
</div>