<section>
    <div class="stroke-text">Things We do</div>
    <div class="services">
        <div class="xl:row-start-2 xl:row-span-1 ">
            <img src="../../../../assets/images/Layer 46.webp" alt="01">
            <div class="overlay"></div>
            <div class="text">
                <h3>Transformation</h3>
                <a [routerLink]="['/']" routerLinkActive="router-link-active"> &DDotrahd; Read More</a>
            </div>
        </div>
        <div class="xl:row-start-2 xl:row-span-1 xl:mt-[-125px] ">
            <img src="../../../../assets/images/Layer 46.webp" alt="01">
            <div class="overlay"></div>
            <div class="text">
                <h3>Envision</h3>
                <a [routerLink]="['/']" routerLinkActive="router-link-active"> &DDotrahd; Read More</a>
            </div>
        </div>
        <div class="xl:row-start-3 xl:row-span-1 xl:mt-[-125px] ">
            <img src="../../../../assets/images/1446779582-melsungen-magdeburg.webp" alt="01">
            <div class="overlay"></div>
            <div class="text">
                <h3>Dynamics 365</h3>
                <a [routerLink]="['/']" routerLinkActive="router-link-active"> &DDotrahd; Read More</a>
            </div>
        </div>
        <div class="xl:row-start-1 xl:row-span-1 ">
            <img src="../../../../assets/images/1446779582-melsungen-magdeburg.webp" alt="01">
            <div class="overlay"></div>
            <div class="text">
                <h3>Crafty Mind</h3>
                <a [routerLink]="['/']" routerLinkActive="router-link-active"> &DDotrahd; Read More</a>
            </div>
        </div>
        <div class="xl:row-start-2 xl:row-span-1 ">
            <img src="../../../../assets/images/Layer 46.webp" alt="01">
            <div class="overlay"></div>
            <div class="text">
                <h3>Services</h3>
                <a [routerLink]="['/']" routerLinkActive="router-link-active"> &DDotrahd; Read More</a>
            </div>
        </div>
    </div>

    <div class="about">
        <h2>We Deliver Digital Productivity</h2>
        <p>We craft technology solutions that digitally bond and transform the productivity of our customers and
            their citizens, workers, consumers and partners.
        </p>
    </div>
</section>