section {
  @apply relative  pb-16 pt-40 px-0 flex flex-col gap-8 xl:gap-0 justify-center xl:flex-row xl:justify-end xl:items-start bg-[#efefef];

  .stroke-text {
    @apply text-[#05000010] text-[7rem] font-bold max-w-[500px] absolute top-8 left-[-2rem] leading-[.8] capitalize z-[0];
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #05000010;
  }

  .services {
    @apply relative xl:right-[-175px] xl:w-[600px] z-20 flex flex-wrap justify-center order-2 xl:order-[0] xl:grid xl:grid-rows-3 xl:grid-flow-col gap-0 xl:mt-[-2rem];

    div {
      @apply relative w-[250px] h-[250px] overflow-hidden text-white flex flex-col justify-end;

      img {
        @apply absolute w-full h-full object-cover;
      }

      .overlay {
        @apply block absolute w-full h-full bg-black opacity-20;
      }

      .text {
        @apply w-full h-full flex flex-col items-start ps-6 pb-8 transition-all duration-500 cursor-pointer;

        h3 {
          @apply text-2xl text-white font-[800];
        }

        a {
          @apply text-sm font-light opacity-0 transition-all duration-500 z-30;
        }
      }

      &:hover {
        .text {
          @apply bg-gradient-to-tr from-[#181E4B] from-5% to-transparent;

          h3 {
            @apply text-2xl text-white font-bold;
          }

          a {
            @apply opacity-100;
          }
        }
      }
    }
  }

  .about {
    @apply py-14 px-16 xl:ps-64 flex flex-col xl:items-end gap-14 xl:text-end bg-[#F215B6] z-10;
    flex: 1 auto;

    h2 {
      @apply text-[48px] font-bold text-[#253776] xl:text-end  xl:max-w-[560px];
    }

    p {
      @apply max-w-[560px] text-xl text-white font-light;
      letter-spacing: 1px;
      line-height: 1.6;
    }
  }
}
