/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// Variables
$font-family-base: "Poppins", sans-serif;

// Box-sizing reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Reset margin and padding for common elements
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

// List styling
ul,
ol {
  list-style: none;
}

// Remove default styling for anchor tags
a {
  text-decoration: none;
}

// Remove default styling for form elements
button,
input,
select,
textarea {
  margin: 0;
}

// Ensure images are responsive
img {
  max-width: 100%;
  height: auto;
}

// Standardize font size and line height
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $font-family-base;
}

// Additional styles or overrides can be added as needed
